*{
  margin: 10px 30px 30px 30px;
  box-sizing: border-box;
}

body{
  font-size: medium;
  font-family: Arial;
}

/*Styling header*/
.top{
  background-color: teal;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 3px #BBB;
  line-height: 1;
  font-size: large;
  font-family: inherit;
}

/*Styling input box*/
input{
  margin: 0;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 0px 10px 10px;
  width: 70%;
  font-size: inherit;
  font-family: inherit;
}

/*Styling the button*/
#add{
  outline: none;
  border-radius: 10px;
  padding: 10px;
  width: 10%;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
  background-color: light-grey;
  cursor: pointer;
}
#add:hover{
  background-color: #DDD;
}

/*Styling the list*/
ul{
  list-style-position: outside;
}
ul li {
  margin: 0;
  cursor: pointer;
  position: relative;
  padding: 12px 10px 12px 20px;
  list-style-type: none;
  background: #EEE;
  font-size: 18px;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:nth-child(odd) {
  background: #F9F9F9;
}
ul li:hover {
  background: #DDD;
}
ul li.checked {
  background: #888;
  color: #FFF;
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: white;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 7px;
  transform: rotate(45deg);
  height: 15px;
  width: 5px;
}

/*Styling the close button (span)*/
.close {
  margin: 0;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 10px 12px 10px;
}

.close:hover {
  background-color: teal;
  color: white;
}

/*Styling EDIT*/
.edit {
  margin: 0;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  right: 30px;
  top: 0;
  padding: 12px 10px 12px 10px;
}
.edit:hover {
  background-color: teal;
  color: white;
}
